/* You can add global styles to this file, and also import other style files */
@import '../node_modules/ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    margin: 0;
    background-color: #E0E7F1;
    min-height:100vh ;
}

h3,p,textarea, h4{
    font-family: 'Roboto';
}